{% extends 'base.html' %}
{% block content %}
<h1>Veterinary Hospital Detail</h1>

<div class="card">
  <div class="card-content">
    <div>
      <span class="card-title">{{ veterinary.name }}</span>
      <p>Email: {{ veterinary.email }}</p>
      <p>Phone No.: {{ veterinary.phone_number }}</p>
      <p>Address: {{ veterinary.address }}</p>
      <p><a href="{{ veterinary.location_link }}">Location</a></p>
    </div>
  </div>
</div>
<br>

<a href="{% url 'appointments_create' %}" class="btn">Add Reminder Appointment</a>

{% endblock %}