{% extends 'base.html' %} {% block content %}
<h1>Animal Details</h1>
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ animal.name }}</span>
    <p>Species: {{ animal.species }}</p>
    <p>Breed: {{ animal.breed }}</p>
    <p>Price: BD{{ animal.price }}</p>
    <p>Phone No.: {{ animal.phone_number }}</p>
    <p>Description: {{ animal.description }}</p>
    <p>Seller: {{ animal.user }}</p>
  </div>
</div>
<br>
<h5>Comments ({% if animal.comments.all %} {{ animal.comments.all|length }} {% endif %})</h5>
<div class="card">
  <div class="card-content">
    {% if not animal.comments.all %}
    <h3>No Comments Yet...</h3>
  </div>
  <div class="card-action">
    <a href="{% url 'add_comment' animal.id %}">Add Comment</a>
  </div>
</div>
{% else %}
<div>
    <a href="{% url 'add_comment' animal.id %}">Add Comment</a>
  </div>
  <hr>
{% for comment in animal.comments.all %}
  <div class="card-content">
    <p>By: {{ comment.user }}</p>
    <span class="card-title">{{ comment.title }}</span>
    <p>{{ comment.body }}</p>
    <p class="right">{{ comment.date }}</p>
  </div>
  {% endfor %}
{% endif %}
{% endblock %}
