{% extends 'base.html' %}
{% block content %}
    <h1>About the Animals Market</h1>
    <hr />
    <p>Hire the Animals Market!</p>
    <br>
    <p>Welcome to Animals Market – your premier destination for buying and selling pets, livestock, and animal-related products! Our platform connects animal lovers, breeders, farmers, and pet enthusiasts in a safe and user-friendly marketplace.</p>
    <br>
    <p>Whether you're looking for a new furry friend, high-quality livestock, pet supplies, or veterinary services, Animals Market provides a trusted space for all your animal needs. We prioritize animal welfare, ethical trading, and customer satisfaction to ensure a seamless experience for buyers and sellers alike.</p>
  
{% endblock %}