{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Animals Market</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        {% if user.is_authenticated %}
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="{% url 'home' %}" class="left brand-logo"
                >&nbsp;&nbsp;Animals Market</a
              >
            </li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'my_veterinary' %}">My Hospital</a></li>
            <li><a href="{% url 'veterinary_index' %}">veterinary Hospital</a></li>
            <li><a href="{% url 'index' %}">My Animals</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="/accounts/logout/">Log Out</a></li>
          </ul>
        </div>
        {% else %}
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="{% url 'home' %}" class="left brand-logo"
                >&nbsp;&nbsp;Animals Market</a
              >
            </li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="/accounts/login/">Log In</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
        {% endif %}
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">
        All Rights Reserved, &copy; 2025 Animals Market &nbsp;
      </div>
    </footer>
  </body>
</html>
