{% extends 'base.html' %} {% block content %}
<h1>Profile</h1>

<div class="card">
  <div class="card-content">
    <div>
      <span class="card-title"><strong>{{ user.username }}</strong></span>
      <h5>First Name: {{ user.first_name }}</h5>
      <h5>Last Name: {{ user.last_name }}</h5>
      <h5>Email: {{ user.email }}</h5>
    </div>
    <div class="card-action">
      {% if user.pk %}
      <a href="{% url 'profiles_update' user.pk %}">Edit Profile</a>
      {% else %}
      <p>Profile update not available.</p>
      {% endif %}
    </div>
  </div>
</div>
<br>
<h2>Your Appointments</h2>

<div class="card">
  <div class="card-content">
    {% for appointment in appointments %}
    <div>
      <span class="card-title">{{ appointment.veterinary_hospital.name }}</span>
      <p>{{ appointment.date }} at {{ appointment.time }} - {{ appointment.reason }}</p>
      <p class="right">{{ appointment.create_at }}</p>
    </div>
    <div class="card-action">
      <a href="{% url 'appointments_update' appointment.id %}">Edit</a>
    </div>
    {% empty %}
        <h3>No appointments scheduled.</h3>
  </div>
  {% endfor %}
</div>
{% endblock %}
