{% extends 'base.html' %}
{% block content %}
<h3>Welcome to Animals Market!, <strong>{{ user.username }}</strong></h3>
<hr>
<h5>Search Query:</h5>
<form action="{% url 'search' %}">
  <input type="text" name="search" placeholder="Search...">
</form>
<br>
{% if query %}
<p class="lead">search for <strong>{{query}}</strong></p>
<br>
{% endif %}
{% if results %}
{% for animal in results %}
  <div class="card">
    <a href="/animals/{{ animal.id }}">
    <div class="card-content">
        <div class="flex-container">
            <div>
              <span class="card-title">{{ animal.name }}</span>
              <p>Species: {{ animal.species }}</p>
              <p>Breed: {{ animal.breed }}</p>
              <p>Price: BD{{ animal.price }}</p>
            </div>
            <div>
                {% load static %}
                <img width="100px" height="100px" src={% static animal.image|cut:'main_app/static/' %} />
            </div>
    </div>
  </a>
  </div>
  {% endfor %}
  {% endif %}
  {% if not results %}
  <p>No results for your <strong>{{query}}</strong></p>
  {% endif %}
{% endblock %}